<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<!-- Bootstrap CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="/assets/css/landingpage.css"/>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Cook or Die </title>

  </head>
   
   <body>
          <script>
                    $(document).ready(function() {
                       $('select').material_select();
                    });
                 </script>
                 <title>Find A Friend</title>
    <div class="container">   
        <div class="form-check">
            <select class="choices" id="one">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
  <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">

</div>
</select>
<div class="form-check">
  <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">

</div>
</div>
{{!-- </div>
      <div class="row">
         <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" type="text" class="validate" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>
            </div>
            <div class = "row">
                <label>Link to Your Image</label>
               <input id="photo" type="text" class="validate" required>
            </div>
            <div class = "row">
               <div class = "input-field col s12">
                    <select class="choices" id="one" required>
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How much do you enjoy to travel?</label>
               </div>
            </div>   
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="two">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How much exercise do you do to stay healthy? </label>
                </div>
            </div>
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="three">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How often do you express your political views? </label>
                </div>
            </div>     
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="four">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How frequently do you engaged with social media platforms? </label>
                </div>
            </div>     
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="five">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How frequently do you go out to bars or clubs? </label>
                </div>
            </div> 
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="six">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How often you do you hang out with friends?</label>
                </div>
            </div>          
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="seven">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How much time do you spend listening to music?</label>
                </div>
            </div> 
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="eight">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardlyever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How often do you watch television?</label>
                </div>
            </div>          
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="nine">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Some times</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How often do you spend holidays with family?</label>
                </div>
            </div>          
            <div class = "row">
                <div class = "input-field col s12">
                    <select class="choices" id="ten">
                        <option value="" disabled selected>Choose One</option>
                        <option value="1">Never</option>
                        <option value="2">Hardly ever</option>
                        <option value="3">Sometimes</option>
                        <option value="4">Often</option>
                        <option value="5">Always</option>
                    </select>
                    <label class="question">How often do you clean your kitchen?</label>
                </div>
<div></div>
        
            <button id="submit"  data-target="modal1" class="btn waves-effect waves-light modal-trigger" type="submit" name="action" style="background-color: #4A458F">Submit
                <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light btn" style="background-color: #4A458F; float: right"><i class="material-icons right">home</i>Home</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Meet Your New Best Friend</h4>
      <h5 id="matchName"></h5>
      <img id="matchPic">
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
                                                                     
     </form>  
     <script type="text/javascript">
        $(document).ready(function(){
            $('.modal-trigger').leanModal();
           $('#submit').on('click', function(event) {
               event.preventDefault();
               
               function validateData(){
               
                   var isBueno = true;
                   $(".validate").each(function(){
                       if($(this).val() === '') {
                           isBueno = false;
                           alert("Please fill out all the fields")
                       }
                   })
                    $("select").each(function(){
                       if($(this).val() === null) {
                           isBueno = false;
                       }
                   })
                   return isBueno;
               }
                if(validateData() === true){
               var userData = {
                    name: $("#name").val().trim(),
                    photo: $("#photo").val().trim(),
                    scores: [
                        $("#one").val(),
                        $("#two").val(),
                        $("#three").val(),
                        $("#four").val(),
                        $("#five").val(),
                        $("#six").val(),
                        $("#seven").val(),
                        $("#eight").val(),
                        $("#nine").val(),
                        $("#ten").val(),              
                    ]
                } 
                }else{alert("Please complete the form")}
    
                $.post("/api/friends", userData).done(function(data){
                    $("#matchName").text(data.name);
                    $("#matchPic").attr("src", data.photo);
                })
                
            })
           
            
        }) --}}
        
        
        {{!-- </script> 
{{!--     --}}
   
         </div>
      </div> --}}
          <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous"></script>
    <script src="/assets/js/recipes.js"></script>
</body> 
</html>